name: Build and test

on:
  push:
    branches:
    - master
    - '*.x'
    paths-ignore:
    - 'doc/**'
    - NEWS
  pull_request:
    branches:
    - master
    - '*.x'
    paths-ignore:
    - 'doc/**'
    - NEWS

jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: true
      matrix:
        include:
          - os: ubuntu-22.04
            conf-shared: --enable-shared
            conf-xml: --with-expat
            conf-ssl: --with-ssl=openssl
            conf-memleak: --disable-memleak
            conf-debug: --enable-debug
            conf-gssapi: --with-gssapi
            
          - os: ubuntu-24.04
            conf-shared: --enable-shared
            conf-xml: --with-libxml2
            conf-ssl: --with-ssl=openssl
            conf-memleak: --enable-memleak
            conf-debug: --disable-debug
            conf-gssapi: --with-gssapi
            conf-unbound: yes
            
          - os: ubuntu-22.04-arm
            conf-shared: --enable-shared
            conf-xml: --with-expat
            conf-ssl: --with-ssl=openssl
            conf-memleak: --disable-memleak
            conf-debug: --enable-debug
            conf-gssapi: --with-gssapi
            conf-unbound: yes
            
          - os: ubuntu-22.04
            conf-shared: --enable-shared
            conf-xml: --with-expat
            conf-ssl: --without-ssl
            conf-memleak: --disable-memleak
            conf-debug: --disable-debug
            conf-gssapi: --without-gssapi
            
          - os: ubuntu-24.04
            conf-shared: --enable-shared
            conf-xml: --with-expat
            conf-ssl: --with-ssl=gnutls
            conf-memleak: --enable-memleak
            conf-debug: --enable-debug
            conf-gssapi: --with-gssapi
            
          - os: ubuntu-22.04
            conf-shared: --enable-shared
            conf-xml: --with-libxml2
            conf-ssl: --with-ssl=gnutls
            conf-memleak: --disable-memleak
            conf-debug: --enable-debug
            conf-gssapi: --with-gssapi
            conf-unbound: yes
            
          - os: ubuntu-24.04
            conf-shared: --enable-shared
            conf-xml: --with-expat
            conf-ssl: --with-ssl=openssl
            conf-memleak: --disable-memleak
            conf-debug: --enable-debug
            conf-gssapi: --with-gssapi
            
          - os: ubuntu-22.04-arm
            conf-shared: --enable-shared
            conf-xml: --with-expat
            conf-ssl: --with-ssl=openssl
            conf-memleak: --disable-memleak
            conf-debug: --enable-debug
            conf-gssapi: --with-gssapi
            
          - os: ubuntu-22.04
            conf-shared: --enable-shared
            conf-xml: --with-expat
            conf-ssl: --with-ssl=gnutls
            conf-memleak: --enable-memleak
            conf-debug: --disable-debug
            conf-gssapi: --with-gssapi
            
          - os: ubuntu-24.04
            conf-shared: --enable-shared
            conf-xml: --with-libxml2
            conf-ssl: --with-ssl=openssl
            conf-memleak: --disable-memleak
            conf-debug: --disable-debug
            conf-gssapi: --with-gssapi
            
          - os: ubuntu-22.04
            conf-shared: --enable-shared
            conf-xml: --with-expat
            conf-ssl: --with-ssl=openssl
            conf-memleak: --enable-memleak
            conf-debug: --enable-debug
            conf-gssapi: --with-gssapi
            
          - os: ubuntu-24.04
            conf-shared: --enable-shared
            conf-xml: --with-expat
            conf-ssl: --without-ssl
            conf-memleak: --disable-memleak
            conf-debug: --enable-debug
            conf-gssapi: --without-gssapi
            
          - os: ubuntu-22.04-arm
            conf-shared: --enable-shared
            conf-xml: --with-expat
            conf-ssl: --with-ssl=openssl
            conf-memleak: --disable-memleak
            conf-debug: --enable-debug
            conf-gssapi: --with-gssapi
            
          - os: ubuntu-22.04
            conf-shared: --enable-shared
            conf-xml: --with-libxml2
            conf-ssl: --with-ssl=openssl
            conf-memleak: --disable-memleak
            conf-debug: --enable-debug
            conf-gssapi: --with-gssapi
            
          - os: ubuntu-24.04
            conf-shared: --enable-shared
            conf-xml: --with-expat
            conf-ssl: --with-ssl=gnutls
            conf-memleak: --disable-memleak
            conf-debug: --disable-debug
            conf-gssapi: --with-gssapi
            
          - os: ubuntu-22.04
            conf-shared: --enable-shared
            conf-xml: --with-expat
            conf-ssl: --with-ssl=openssl
            conf-memleak: --disable-memleak
            conf-debug: --disable-debug
            conf-gssapi: --with-gssapi
            
          - os: ubuntu-24.04
            conf-shared: --enable-shared
            conf-xml: --with-libxml2
            conf-ssl: --with-ssl=gnutls
            conf-memleak: --enable-memleak
            conf-debug: --enable-debug
            conf-gssapi: --with-gssapi
            
          - os: ubuntu-22.04-arm
            conf-shared: --enable-shared
            conf-xml: --with-expat
            conf-ssl: --with-ssl=openssl
            conf-memleak: --disable-memleak
            conf-debug: --enable-debug
            conf-gssapi: --with-gssapi
            
          - os: ubuntu-22.04
            conf-shared: --enable-shared
            conf-xml: --with-expat
            conf-ssl: --with-ssl=gnutls
            conf-memleak: --disable-memleak
            conf-debug: --enable-debug
            conf-gssapi: --with-gssapi
            
          - os: ubuntu-24.04
            conf-shared: --enable-shared
            conf-xml: --with-expat
            conf-ssl: --with-ssl=openssl
            conf-memleak: --enable-memleak
            conf-debug: --disable-debug
            conf-gssapi: --with-gssapi
            
          - os: ubuntu-22.04
            conf-shared: --enable-shared
            conf-xml: --with-libxml2
            conf-ssl: --with-ssl=openssl
            conf-memleak: --enable-memleak
            conf-debug: --disable-debug
            conf-gssapi: --with-gssapi
            
          - os: ubuntu-24.04
            conf-shared: --enable-shared
            conf-xml: --with-expat
            conf-ssl: --without-ssl
            conf-memleak: --enable-memleak
            conf-debug: --enable-debug
            conf-gssapi: --without-gssapi
            
          - os: ubuntu-22.04-arm
            conf-shared: --enable-shared
            conf-xml: --with-expat
            conf-ssl: --with-ssl=openssl
            conf-memleak: --disable-memleak
            conf-debug: --enable-debug
            conf-gssapi: --with-gssapi
            
          - os: ubuntu-22.04
            conf-shared: --enable-shared
            conf-xml: --with-expat
            conf-ssl: --with-ssl=openssl
            conf-memleak: --disable-memleak
            conf-debug: --enable-debug
            conf-gssapi: --with-gssapi
            
          - os: ubuntu-24.04
            conf-shared: --enable-shared
            conf-xml: --with-libxml2
            conf-ssl: --with-ssl=openssl
            conf-memleak: --disable-memleak
            conf-debug: --enable-debug
            conf-gssapi: --with-gssapi
    steps:
    - uses: actions/checkout@v2
    - run: ./autogen.sh
    - run: case ${{matrix.conf-ssl}} in
           *gnutls) sudo apt-get update && sudo apt-get -y install libgnutls28-dev gnutls-bin ;;
           esac
    - run: case ${{matrix.conf-gssapi}} in
           *with-gssapi) sudo apt-get update && sudo apt-get -y install libkrb5-dev ;;
           esac
    - run: ./configure ${{matrix.conf-shared}} ${{matrix.conf-xml}}
                       ${{matrix.conf-ssl}} ${{matrix.conf-memleak}}
                       ${{matrix.conf-debug}} ${{matrix.conf-gssapi}}
                       ${{matrix.conf-unbound == 'yes' && '--with-unbound' || '' }}
    - run: make -j`nproc`
    - run: make -j`nproc` check TEST_QUIET=0 TEST_COLOUR=1
    - if: failure()
      run: if test -f test/debug.log; then cat test/debug.log; fi

  containers:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: true
      matrix:
        image: ["quay.io/centos/centos:stream9",
                "fedora:latest"]
    container:
      image: ${{ matrix.image }}
    steps:
      - run: dnf update -y && dnf install -y autoconf make expat-devel 
                  openssl openssl-devel krb5-devel libtool zlib-devel gawk
      - uses: actions/checkout@v3
      - run: ./autogen.sh
      - run: ./configure --with-ssl=openssl --with-expat --enable-debug --with-gssapi
      - run: make -j`nproc`
      - run: make -j`nproc` check TEST_QUIET=0 TEST_COLOUR=1
