name: Build and test

on:
  push:
    branches:
    - master
    - '*.x'
    paths-ignore:
    - 'doc/**'
    - NEWS
  pull_request:
    branches:
    - master
    - '*.x'
    paths-ignore:
    - 'doc/**'
    - NEWS

jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-22.04, ubuntu-24.04, ubuntu-22.04-arm]
        conf-shared: [--enable-static, --enable-shared ]
        conf-xml: [--with-expat, --with-libxml2 ]
        conf-ssl: [--without-ssl, --with-ssl=openssl, --with-ssl=gnutls]
        conf-memleak: [--disable-memleak, --enable-memleak]
        conf-debug: [--enable-debug, --disable-debug]
        conf-gssapi: [--with-gssapi, --without-gssapi]
        exclude:
            - os: [ubuntu-20.04, ubuntu-22.04]
              conf-shared: --enable-static
            - conf-gssapi: --without-gssapi
              conf-ssl: [--without-ssl, --with-ssl=gnutls]
            - conf-xml: --with-libxml2
              conf-gssapi: --without-gssapi
            - os: ubuntu-22.04-arm
              conf-xml: --with-libxml2
            - os: ubuntu-22.04-arm
              conf-ssl: [--without-ssl, --with-ssl=gnutls]
            - os: ubuntu-22.04-arm
              conf-debug: --disable-debug
            - os: ubuntu-22.04-arm
              conf-gssapi: --without-gssapi
            - os: ubuntu-22.04-arm
              conf-memleak: --enable-memleak
            - os: ubuntu-22.04-arm
              conf-shared: --enable-static
    steps:
    - uses: actions/checkout@v2
    - run: ./autogen.sh
    - run: case ${{matrix.conf-ssl}} in
           *gnutls) sudo apt-get update && sudo apt-get -y install libgnutls28-dev gnutls-bin ;;
           esac
    - run: case ${{matrix.conf-gssapi}} in
           *with-gssapi) sudo apt-get update && sudo apt-get -y install libkrb5-dev ;;
           esac
    - run: ./configure ${{matrix.conf-shared}} ${{matrix.conf-xml}}
                       ${{matrix.conf-ssl}} ${{matrix.conf-memleak}}
                       ${{matrix.conf-debug}} ${{matrix.conf-gssapi}}
    - run: make -j`nproc`
    - run: make check
    - if: failure()
      run: if test -f test/debug.log; then cat test/debug.log; fi

  containers:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        image: ["quay.io/centos/centos:stream9",
                "fedora:latest"]
    container:
      image: ${{ matrix.image }}
    steps:
      - run: dnf update -y && dnf install -y autoconf make expat-devel openssl-devel krb5-devel libtool zlib-devel gawk
      - uses: actions/checkout@v3
      - run: ./autogen.sh
      - run: ./configure --with-ssl=openssl --with-expat --enable-debug --with-gssapi
      - run: make -j`nproc`
      - run: make check
